@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Open+Sans:ital,wght@0,300;1,300;1,400&family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    border:0;  
    outline:0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --frequent-color:#10234d;
    --good-green:#338808;
    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;
    --transition:all 400ms ease;
}
*, *::before,  *::after{
    margin:0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family:'Poppins',sans-serif;
    line-height: 1.7;
    color:#fff;
    background-color: #020c20;
}
.container{
    width:var(--container-width-lg);
    margin:0 auto ;
}
section{
    padding:6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1,h2,h3,h4{
    line-height: 1.2;
}
h5{
    line-height: 0.8;
    font-size: 1rem;
}
h1{
    font-size:2.4rem;
}
h2{
    font-size:2rem;
}
h3{
    font-size:1.6rem;
}
h4{
    font-size:1.3rem;
}
a {
    color:#f8f6f0;
}
img{
    width:100%;
    display:block;
    object-fit: cover;
}
.btn{
    display:inline-block;
    background:#f8f6f0;
    color:#01040c;
    padding:1rem 2rem;
    border:1px solid transparent;
    font-weight:500;
    transition: var(--transition);
}
.btn:hover{
background:transparent;
border-color:#fff;
color: #fff;
}
.btn-primary{
    background:#338808;
    color:#fff;
}
/*Navbar*/
nav{
    width:100vw;
    height:5rem;
    background:transparent;
    position:fixed;
    top:0;
    z-index:11;
}
.nav_container{
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav button{
    display:none;
}
.nav_menu{
    display:flex;
    align-items:center;
    gap:4rem;
}
.nav_menu a{
   font-size:0.9rem; 
   transition:var(--transition);
}
.nav_menu a:hover{
    color:#000a1f;
}
header{
    position:relative;
}

 
 /* HEADER */
 header{
    position:relative;
    background: url("/eduball_images/home-img-redone2.jpg");
    background-size: cover;
    top:5rem;
    overflow:hidden;
    height:80vh;
    margin-bottom:5rem;
 }
 .header_container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    gap:5rem;
    height:100%;
 }
 .header_left span{
    color:#017b40;
    font-weight: 1700;
    margin-left: 5px;
    margin-right: 10px;
 }
 .header_left p{
    margin:1rem 0 2.4rem;
    font-weight: 900;
    font-size: 17px;
    color:#f0ede5;
 }
 .window-scroll{
    background-color: #01752ac8;
    box-shadow:0 1rem 2rem rgba(7, 0, 0, 0.2);
 }
 /*     why choose us begins         */

 a,
 a:active,
 a:focus {
     color: #333;
     text-decoration: none;
     transition-timing-function: ease-in-out;
     -ms-transition-timing-function: ease-in-out;
     -moz-transition-timing-function: ease-in-out;
     -webkit-transition-timing-function: ease-in-out;
     -o-transition-timing-function: ease-in-out;
     transition-duration: .2s;
     -ms-transition-duration: .2s;
     -moz-transition-duration: .2s;
     -webkit-transition-duration: .2s;
     -o-transition-duration: .2s;
 }
 
 ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 img {
max-width: 100%;
height: auto;
}
span, a, a:hover {
display: inline-block;
text-decoration: none;
color: inherit;
}
.section-head {
margin-bottom: 60px;
}
.section-head h4 {
position: relative;
padding:0;
color:#015633;
line-height: 1;
letter-spacing:0.3px;
font-size: 34px;
font-weight: 700;  
text-align:center;
text-transform:none;
margin-bottom:30px;
}
.section-head h4:before {
content: '';
width: 60px;
height: 3px;
background: #020c20;
position: absolute;
left: 0px;
bottom: -10px;
right:0;  
margin:0 auto;
}
.section-head h4 span {
font-weight: 700;
padding-bottom: 5px;
color:#023840;
}
p.service_text{
color:#cccccc !important;
font-size:16px;
line-height:28px;
text-align:center;    
}
.section-head p, p.awesome_line{
color:#818181;
font-size:16px;
line-height:28px;
text-align:center;  
}

.extra-text {
font-size:34px;
font-weight: 700;
color:#2f2f2f;
margin-bottom: 25px;
position:relative;
text-transform: none;
}
.extra-text::before {
content: '';
width: 60px;
height: 3px;
background: #f91942;
position: absolute;
left: 0px;
bottom: -10px;
right: 0;
margin: 0 auto;
}
.extra-text span {
font-weight: 700;
color:#f91942;
}
.item {
background: rgb(25, 46, 86);
text-align: center;
padding: 30px 25px;
-webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
border-radius: 20px;
border:5px solid rgba(0, 0, 0, 0.07);
margin-bottom: 30px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover{
background:#015633;
box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover .item, .item:hover span.icon{
background:#fff;
border-radius:10px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.col-lg-4 h6{
    color:#f0ede5 !important;
}
.item:hover h6, .item:hover p{
color:#fff;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item .icon {
font-size: 40px;
margin-bottom:25px;
color: #f91942;   
width: 90px;
height: 90px;
line-height: 96px;
border-radius: 50px;
}
.item .feature_box_col_one{
background:rgba(247, 198, 5, 0.20);
color:#f91942
}
.item .feature_box_col_two{
background:rgba(255, 77, 28, 0.15);
color:#f91942
}
.item .feature_box_col_three{
background:rgba(0, 147, 38, 0.15);
color:#f91942
}
.item .feature_box_col_four{
background:rgba(0, 108, 255, 0.15);
color:#f91942
}
.item .feature_box_col_five{
background:rgba(146, 39, 255, 0.15);
color:#f91942
}
.item .feature_box_col_six{
background:rgba(23, 39, 246, 0.15);
color:#f91942
}
.item p{
font-size:15px;
line-height:26px;
}
.item h6 {
margin-bottom:20px;
color:#2f2f2f;
}
.mission p {
margin-bottom: 10px;
font-size: 15px;
line-height: 28px;
font-weight: 500;
}
.mission i {
display: inline-block;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
background: #f91942;
border-radius: 50%;
color: #fff;
font-size: 25px;
}
.mission .small-text {
margin-left: 10px;
font-size: 13px;
color: #666;
}
.skills {
padding-top:0px;
}
.skills .prog-item {
margin-bottom: 25px;
}
.skills .prog-item:last-child {
margin-bottom: 0;
}
.skills .prog-item p {
font-weight: 500;
font-size: 15px;
margin-bottom: 10px;
}
.skills .prog-item .skills-progress {
width: 100%;
height: 10px;
background: #e0e0e0;
border-radius:20px;
position: relative;
}
.skills .prog-item .skills-progress span {
position: absolute;
left: 0;
top: 0;
height: 100%;
background: #f91942;
width: 10%;
border-radius: 10px;
-webkit-transition: all 1s;
transition: all 1s;
}
.skills .prog-item .skills-progress span:after {
content: attr(data-value);
position: absolute;
top: -5px;
right: 0;
font-size: 10px;
font-weight:600;    
color: #fff;
background:rgba(0, 0, 0, 0.9);
padding: 3px 7px;
border-radius: 30px;
}

  /*     why choose us ends       */

 .categories{
    background:#000a1f;
    height:32rem;
 }
 .categories h1{
    line-height: 1;
    margin-bottom: 3rem;
 }
 
 .categories_container{
    display:grid;
    grid-template-columns: 40% 60%;
    
 }
 .categories_left{
    margin-right: 4rem;
 }
 .categories_left p{
    margin:1rem 0 1rem;
 }
 .categories_right{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.2rem;
 }

 .category{
    background: #1a2c54;
    padding:2rem;   
    border-radius: 2rem;
    padding-bottom: 0.9rem;
    transition: var(--transition);
 }
 
 .category:hover{
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
    z-index: 1;
 }
 .category:nth-child(2) .category_icon{
    background:#7d7f86;
 }
 .category:nth-child(3) .category_icon{
    background:#02a657;
 }
 .category:nth-child(4) .category_icon{
    background:#064743;
 }
 .category:nth-child(5) .category_icon{
    background:#1d7611;
 }
 .category:nth-child(6) .category_icon{
    background:#06473b;
 }
.category_icon{
    background-color: #01040c;
    padding:0.7rem;
    border-radius: 0.9rem;
}
.category h5{
    margin:1rem 0 0.5rem;
    font-weight: 700;
}
.category p{
    font-size:0.85rem;
}
/*Popular courses*/
.courses{
    margin-top: 5rem;
    background-color: #01040c;
}
.courses_container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:2rem;
}
.course{
    background:#01040c;
    text-align: center;
    border:1px solid transparent;
    transition: var(--transition);
}
.course:hover{
    background:transparent;
    border-color:#1a2c54;
}
.course_info{
    padding:2rem;
}
.course_info p{
    margin:1.2rem 0 2rem ;
    font-size: 0.9rem;
}
/*   FAQs */
.faqs{
    background:#011749;
    box-shadow:insert 0 0 3rem rgba(0,0,0,0.5);
}
.faqs_container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
}
.faq{
    padding:2rem;
    display:flex;
    align-items: center;
    gap:1.4rem;
    height:fit-content;
    background:#012c17;
    cursor:pointer;
}
.faq h4{
    font-size:1rem;
    line-height: 2.2;
}
.faq_icon{
    align-items: flex-start;
    color: aliceblue;
    font-size:1.2rem;
}
.faq p{
    margin-top:0.8rem;
    color: #c5bcbc;
    display: none;
}
.faq.open p{
    display:block;
}
/*TESTIMONALS*/
.testimonials_Container{
    overflow-x: hidden;
    position :relative;
    margin-bottom: 5rem;
}
.testimonial{
    padding-top: 2rem;
}
.avatar{
    width:6rem;
    height: 6rem;
    border-radius: 50%;
    overflow:hidden;
    margin:0 auto 1rem;
    border:1rem solid var(--frequent-color);
}
.testimonial_info{
    text-align: center;
}
.testimonial_body{
    background:#102c63;
    padding:2rem;
    margin-top:3rem;
    position: relative;
}
.testimonial_body::before{
    content:"";
    display:block;
    background:linear-gradient(135deg,transparent,#014663,#061b47);
    width:3rem;
    height:3rem;
    position:absolute;
    left: 50%;
    top:-1.5rem;
    transform:rotate(45deg);
}
/*       FOOTER           */
footer{
    background-color:#031645;
    padding-top:5rem;
    font-size: 0.9rem;
}
.footer_container{
display:grid;
grid-template-columns: repeat(4,1fr);
gap:5rem;
}
.footer_container > div h4{
    margin-bottom:1.2rem;
}
.footer_1{
    margin-left: 4rem;
}
.footer_1 p{
    margin:0 0 2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
}
footer ul li a:hover{
    text-decoration: underline;
}
.footer_socials {
    display:flex;
    gap:1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.footer_2{
    padding:20px;
}
.footer_socials a{
    font-size: 2.15rem;
    text-decoration: none;
    font-weight: 1000;
    padding: 4px 4px;
    color:#f0ede5;
}
.social_icons{
    margin-right: 25px;
    display: flex;
}
.footer_copyright{
    text-align: center;
    font-size: larger;
    margin-top: 4rem;
    padding:1.2rem 0;
    border-color: 1px solid #1a2c54;
}
.footer_copyright{
    text-decoration: underline;
}

/*  MEDIA QUERIES (TABLET)   */
@media screen and (max-width:1024px){
    .container{
width: var(--container-width-md);
    }
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size:1.7rem;
    }
    h3{
        font-size: 1.4rem;
    }
    h4{
        font-size: 1.2rem;
    }
    nav button{
        display:inline-block;
        background:transparent;
        font-size:1.8rem;
        color:#ffffff;
        cursor:pointer;
    }
    nav button#close-menu-btn{
        display:none;
    }
.nav_menu{
    position:fixed;
    top:5rem;
    display:none;
    right:5%;
    height:fit-content;
    width:18rem;
    flex-direction:column;
    gap:0;
}
.nav_menu li{
    width:100%;
    height:5.8rem;
    
}
.nav_menu li a{
    background:#014217;
    box-shadow:-4rem 6rem 10rem rgba(0,0,0,0.6);
   width:100%;
    height:100%;
    display:grid;
    place-items:center;
}
.nav_menu li a:hover{
    background:transparent;
    color:#f0ede5;
}

    /* header   */
    header{
        height:52vh;
        margin-bottom: 4rem;
        background: url(/eduball_images/home-img-redone2.jpg);
    }
    .header_container{
        gap:0;
        padding-bottom: 3rem;
    }
    
    /* categories  */
    .categories{
        height:auto;

    }
.categories_container{
    grid-template-columns: 1fr;
    gap:3rem;
}
.categories_left{
    margin-right: 0;
}

    /* popular courses   */
    .courses{
        margin-top: 0;
    }
    .courses_container{
        grid-template-columns: 1fr 1fr;
    }
    
    /* faqs   */
    .faqs_container{
        grid-template-columns: 1fr;
    }
    .faq{
        padding: 1.5rem;
    }
    
    /* footer  */
    .footer_container{
        grid-template-columns: 1fr 1fr;
    }
}

    /*media queries(phones)  */
    @media screen and (max-width:600px){
        .container{
            width: var(--container-width-sm);
        }
    /* navbar  */


    /* header   */
    header{
        height:100vh;
    }
    .header_container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }
    .header_left p{
        margin-bottom: 1.3rem;
    }
    
    /* categories */
    .categories_right{
        grid-template-columns: 1fr 1fr;
  gap:0.7rem;
    }
    .category{
        padding:1rem;
        border-radius: 1rem;
    }
    .category_icon{
        margin-top: 4px;
        display: inline-block;
    }
    /* popular courses       */
    .courses_container{
        grid-template-columns: 1fr;
    }
    /* testimonials   */
    .testimonial_body{
        padding: 1.2rem;
    }

  /* footer  */
.footer_container{
    grid-template-columns: 1fr;
    text-align: center;
    gap:2rem;
}
.footer_1 p{
    margin:1rem auto;
}
.footer_socials{
    justify-content: center;
}
    }